{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 6 -%}
<div class="blog-section section {{ section.id }} bg-gray pt-100 pb-60">
    <div class="container">
      <div class="row flex-row-reverse">
        <!-- Blog Wrapper -->
        <div class="col-lg-8 col-12 mb-60 ">
          <div class="row">
            <!-- Blog Item Start -->
            {%- for article in blog.articles -%}
              <div class="blog-item col-md-6 col-12 mb-60">
                {%- render 'article-card',
                  article: article,
                  media_height: section.settings.image_height,
                  media_aspect_ratio: article.image.aspect_ratio,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: true
                -%}
              </div>
              <!-- Blog Item End -->
            {%- endfor -%}
          </div>
        </div>
        <!-- Sidebar Wrapper -->
        <div class="col-lg-4 col-12 mb-60">
          <div class="sidebar-wrapper">
            <!-- Single Sidebar -->
            <div class="single-sidebar mb-30">
              <!-- Titel -->
              <h4 class="sidebar-title">Search</h4>
                
              <!-- Form -->
              <form action="/search" class="sidebar-search-form">
                <input type="text" placeholder="Enter Keywords" name="q" value="{{ search.terms | escape }}" class="search-bar">
                <button><img src="https://christ-s.myshopify.com/cdn/shop/files/icons8-search-client-24.png?v=1674458469"/></button>
              </form>
            </div>

            <!-- Single Sidebar -->
            <div class="single-sidebar mb-30">
              <!-- Titel -->
              <h4 class="sidebar-title">Recent Post</h4>

              <!-- Sdebar Post -->
              {%- for article in blog.articles limit: section.settings.number_of_articles_to_display -%}
                <div class="sidebar-post fix">
                  {%- render 'sidebar',
                    article: article,
                    show_date: section.settings.show_date,
                    show_image: section.settings.show_image,
                    show_excerpt: true
                  
                  -%}
                </div>
              {%- endfor -%}
            </div>

            <!-- Single Sidebar -->
            <div class="single-sidebar mb-30">
              <h4 class="sidebar-title">Tags</h4>
              {% for tag in blog.all_tags %}
                <!-- Tag Cloud -->
                <div class="tag-cloud fix" style="display: -webkit-inline-box;">
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination Start -->
  <div class="pagination col-12 mt-20">
    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
  <!-- Pagination End -->
  <!-- Blog Section End -->
{%- endpaginate -%}


{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "image_picker",
      "id": "iconimage",
      "label": "Add image"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "number",
      "label": "Sidebar Articles to Display",
      "id": "number_of_articles_to_display",
      "default": 3
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}